.title {
  font-size: larger;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 1rem;
}

.flex-wrap-stats-map {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.flex-wrap-stats-map h3 {
  color: #6c584c;
}
