.title {
  font-size: larger;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 1rem;
}

.flex-wrap-stats-map {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 2rem;
  margin-bottom: 5rem;
  margin-left: 5rem;
  margin-right: 3rem;
}

.flex-wrap-stats-map h3 {
  color: #6c584c;
}

.map-container-dash {
  margin-right: 0;
  margin-left: 0;
  width: 50%;
}

.cleanup-list-button-container {
  margin-top: 1em;
}

@media only screen and (max-width: 600px) {
  .map-container-dash {
    margin-top: 2rem;
    width: 100%;
  }

  .flex-wrap-stats-map {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}
