html {
  background-color: #f0ead2;
}

.listone {
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  margin: 0;
  align-items: center;
  font-weight: lighter;
}

.listtwo {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  margin: 0;
  align-items: center;
}

li {
  font-size: 1.25rem;
  color: white;
  text-decoration: none;
  padding-right: 2rem;
}

a {
  color: #fff;
  text-decoration: none;
}
a:hover {
  color: #a98467;
}

.navBar {
  background: #adc178;
  color: white;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.navBar button {
  background: transparent;
  border: white 2px solid;
  border-radius: 10px;
  color: white;
  padding: 0.2rem 0.5rem;
  font-size: medium;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

.navBar button:hover {
  cursor: pointer;
  background-color: #a98467;
  border: white 2px solid;
}

.brand {
  cursor: pointer;
  font-size: 2rem;
}

.login {
  margin: 0.1em;
  border-radius: 10px;
  padding: 0;
}

.admin {
  margin-top: 0.5rem;
}
