.header {
  color: #6c584c;
  text-align: center;
  margin-bottom: 3rem;
}

.badge-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-left: 12rem; */
  flex-wrap: wrap;
  align-self: center;
}

.badge-card {
  flex-grow: 1 1 0;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.img-container {
  display: flex;
  justify-content: center;
}

.badge-card img {
  width: 40%;
  height: 100%;
}

.badge-card p {
  text-align: center;
  color: #6c584c;
}
