@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-color: #f0ead2;
}

.user-dash,
.homepage,
.community-dash,
.login-page,
.register-page,
.admin-page {
  background-color: #f0ead2;
}
