@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-color: #f0ead2;
}

.user-dash {
  background-color: #f0ead2;
}

.homepage {
  background-color: #f0ead2;
}

.community-dash {
  background-color: #f0ead2;
}
