.box-container {
  background-color: #adc178;
  border-radius: 15px;
  padding: 0.3rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.box-contents {
  justify-items: center;
  align-items: center;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-contents p {
  color: white;
  font-size: large;
  padding-top: 0.5rem;
}

.logged-cleanups-number {
  justify-content: center;
  justify-self: center;
  margin-right: 1.5rem;
  margin-left: 0.5rem;
}

.weekly-goal-button-container {
  margin-right: 1rem;
  justify-content: center;
  justify-self: center;
  margin-right: 1.5rem;
  margin-left: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.modal-button {
  padding: 0.1rem;
  font-size: small;
  background-color: #a98467;
  border: none;
}

.modal-button:hover {
  padding: 0.1rem;
  font-size: small;
  background-color: #a98467;
  border: none;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.pond-container {
  justify-content: center;
  align-items: center;
}

.pond-motivation {
  text-align: center;
  color: #6c584c;
}

.pond-motivation p {
  font-style: italic;
}
